[Unit]
Description=Vector service
After=network.target
Requires=network-online.target
[Service]
User=root
Group=root
ExecStart=/usr/bin/vector --config.yaml /home/maksim/vector.yml watch-config true
Restart=always
[Install]
WantedBy=multi-user.target